body {
  background-color: #cbf1f5;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #898b8a;
  border-width: 10px;
  height: 0px;
  width: 10%;
}
h1{
  color: #184d47
}
h3{
  color: #184d47
}
